<!DOCTYPE html>
<html>
<head>
    <title>Zombie Action</title>
    <script language="javascript" type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/zombie.js"></script>
</head>
<body>
    <div>
        <img src="/img/Zombie.jpg" style="display: block; margin: auto;" />
    </div>
    <!--Click different parts of the zombie to get him to day something-->
</body>
</html>
