<!DOCTYPE html>
<html>
<head>
    <title>May I Take your a Fortune Cookie Order Prease</title>
    <script language="javascript" type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>    
</head>
<body>
    <div>
        <img src="/img/city_wok.jpg" style="display: block; margin: auto;" />
    </div>
    <!--Click different parts of the zombie to get him to day something-->
</body>
</html>
